/* ------------------ COULEURS ------------------- */
/* CARDS */
.card-blue > .card-header {
  background-color: #4e63c9;
  color: #FFF; }

.card-violet > .card-header {
  background-color: #ce4dcd;
  color: #FFF; }

.card-purple > .card-header {
  background-color: #7951c0;
  color: #FFF; }

.card-red > .card-header {
  background-color: #e33d22;
  color: #FFF; }

.card-orange > .card-header {
  background-color: #eb790a;
  color: #FFF; }

.card-green > .card-header {
  background-color: #75b82d;
  color: #FFF; }

.card-skyblue > .card-header {
  background-color: #42a0f3;
  color: #FFF; }

.card-dark > .card-header {
  background-color: #6d6d6d;
  color: #FFF; }

.card-light > .card-header {
  background-color: #eeeeec;
  color: #111; }

.card-turquoise > .card-header {
  background-color: #46bd9e;
  color: #FFF; }

.card-primary > .card-header {
  background-color: #7951c0;
  color: #FFF; }

.card-secondary > .card-header {
  background-color: #4e63c9;
  color: #FFF; }

.card-warning > .card-header {
  background-color: #eb790a;
  color: #FFF; }

.card-danger > .card-header {
  background-color: #e33d22;
  color: #FFF; }

.card-info > .card-header {
  background-color: #42a0f3;
  color: #FFF; }

.card-success > .card-header {
  background-color: #75b82d;
  color: #FFF; }

/* BUTTONS & BADGES */
.btn-blue, .badge-blue {
  background-color: #4e63c9;
  color: #FFF; }
  .btn-blue:hover, .btn-blue:active, .btn-blue:focus, .btn-blue[href]:hover, .btn-blue[href]:active, .btn-blue[href]:focus, .badge-blue:hover, .badge-blue:active, .badge-blue:focus, .badge-blue[href]:hover, .badge-blue[href]:active, .badge-blue[href]:focus {
    background-color: #7585d5;
    color: #FFF; }

.btn-violet, .badge-violet {
  background-color: #ce4dcd;
  color: #FFF; }
  .btn-violet:hover, .btn-violet:active, .btn-violet:focus, .btn-violet[href]:hover, .btn-violet[href]:active, .btn-violet[href]:focus, .badge-violet:hover, .badge-violet:active, .badge-violet:focus, .badge-violet[href]:hover, .badge-violet[href]:active, .badge-violet[href]:focus {
    background-color: #d975d8;
    color: #FFF; }

.btn-purple, .badge-purple {
  background-color: #7951c0;
  color: #FFF; }
  .btn-purple:hover, .btn-purple:active, .btn-purple:focus, .btn-purple[href]:hover, .btn-purple[href]:active, .btn-purple[href]:focus, .badge-purple:hover, .badge-purple:active, .badge-purple:focus, .badge-purple[href]:hover, .badge-purple[href]:active, .badge-purple[href]:focus {
    background-color: #9676ce;
    color: #FFF; }

.btn-red, .badge-red {
  background-color: #e33d22;
  color: #FFF; }
  .btn-red:hover, .btn-red:active, .btn-red:focus, .btn-red[href]:hover, .btn-red[href]:active, .btn-red[href]:focus, .badge-red:hover, .badge-red:active, .badge-red:focus, .badge-red[href]:hover, .badge-red[href]:active, .badge-red[href]:focus {
    background-color: #e9654f;
    color: #FFF; }

.btn-orange, .badge-orange {
  background-color: #eb790a;
  color: #FFF; }
  .btn-orange:hover, .btn-orange:active, .btn-orange:focus, .btn-orange[href]:hover, .btn-orange[href]:active, .btn-orange[href]:focus, .badge-orange:hover, .badge-orange:active, .badge-orange:focus, .badge-orange[href]:hover, .badge-orange[href]:active, .badge-orange[href]:focus {
    background-color: #f69332;
    color: #FFF; }

.btn-green, .badge-green {
  background-color: #75b82d;
  color: #FFF; }
  .btn-green:hover, .btn-green:active, .btn-green:focus, .btn-green[href]:hover, .btn-green[href]:active, .btn-green[href]:focus, .badge-green:hover, .badge-green:active, .badge-green:focus, .badge-green[href]:hover, .badge-green[href]:active, .badge-green[href]:focus {
    background-color: #8fd246;
    color: #FFF; }

.btn-skyblue, .badge-skyblue {
  background-color: #42a0f3;
  color: #FFF; }
  .btn-skyblue:hover, .btn-skyblue:active, .btn-skyblue:focus, .btn-skyblue[href]:hover, .btn-skyblue[href]:active, .btn-skyblue[href]:focus, .badge-skyblue:hover, .badge-skyblue:active, .badge-skyblue:focus, .badge-skyblue[href]:hover, .badge-skyblue[href]:active, .badge-skyblue[href]:focus {
    background-color: #72b8f6;
    color: #FFF; }

.btn-dark, .badge-dark {
  background-color: #6d6d6d;
  color: #FFF; }
  .btn-dark:hover, .btn-dark:active, .btn-dark:focus, .btn-dark[href]:hover, .btn-dark[href]:active, .btn-dark[href]:focus, .badge-dark:hover, .badge-dark:active, .badge-dark:focus, .badge-dark[href]:hover, .badge-dark[href]:active, .badge-dark[href]:focus {
    background-color: #878787;
    color: #FFF; }

.btn-light, .badge-light {
  background-color: #eeeeec;
  color: #111; }
  .btn-light:hover, .btn-light:active, .btn-light:focus, .btn-light[href]:hover, .btn-light[href]:active, .btn-light[href]:focus, .badge-light:hover, .badge-light:active, .badge-light:focus, .badge-light[href]:hover, .badge-light[href]:active, .badge-light[href]:focus {
    background-color: white;
    color: #111; }

.btn-turquoise, .badge-turquoise {
  background-color: #46bd9e;
  color: #FFF; }
  .btn-turquoise:hover, .btn-turquoise:active, .btn-turquoise:focus, .btn-turquoise[href]:hover, .btn-turquoise[href]:active, .btn-turquoise[href]:focus, .badge-turquoise:hover, .badge-turquoise:active, .badge-turquoise:focus, .badge-turquoise[href]:hover, .badge-turquoise[href]:active, .badge-turquoise[href]:focus {
    background-color: #6ccab2;
    color: #FFF; }

.btn-primary, .badge-primary {
  background-color: #7951c0;
  color: #FFF; }
  .btn-primary:hover, .btn-primary:active, .btn-primary:focus, .btn-primary[href]:hover, .btn-primary[href]:active, .btn-primary[href]:focus, .badge-primary:hover, .badge-primary:active, .badge-primary:focus, .badge-primary[href]:hover, .badge-primary[href]:active, .badge-primary[href]:focus {
    background-color: #9676ce;
    color: #FFF; }

.btn-secondary, .badge-secondary {
  background-color: #4e63c9;
  color: #FFF; }
  .btn-secondary:hover, .btn-secondary:active, .btn-secondary:focus, .btn-secondary[href]:hover, .btn-secondary[href]:active, .btn-secondary[href]:focus, .badge-secondary:hover, .badge-secondary:active, .badge-secondary:focus, .badge-secondary[href]:hover, .badge-secondary[href]:active, .badge-secondary[href]:focus {
    background-color: #7585d5;
    color: #FFF; }

.btn-warning, .badge-warning {
  background-color: #eb790a;
  color: #FFF; }
  .btn-warning:hover, .btn-warning:active, .btn-warning:focus, .btn-warning[href]:hover, .btn-warning[href]:active, .btn-warning[href]:focus, .badge-warning:hover, .badge-warning:active, .badge-warning:focus, .badge-warning[href]:hover, .badge-warning[href]:active, .badge-warning[href]:focus {
    background-color: #f69332;
    color: #FFF; }

.btn-danger, .badge-danger {
  background-color: #e33d22;
  color: #FFF; }
  .btn-danger:hover, .btn-danger:active, .btn-danger:focus, .btn-danger[href]:hover, .btn-danger[href]:active, .btn-danger[href]:focus, .badge-danger:hover, .badge-danger:active, .badge-danger:focus, .badge-danger[href]:hover, .badge-danger[href]:active, .badge-danger[href]:focus {
    background-color: #e9654f;
    color: #FFF; }

.btn-info, .badge-info {
  background-color: #42a0f3;
  color: #FFF; }
  .btn-info:hover, .btn-info:active, .btn-info:focus, .btn-info[href]:hover, .btn-info[href]:active, .btn-info[href]:focus, .badge-info:hover, .badge-info:active, .badge-info:focus, .badge-info[href]:hover, .badge-info[href]:active, .badge-info[href]:focus {
    background-color: #72b8f6;
    color: #FFF; }

.btn-success, .badge-success {
  background-color: #75b82d;
  color: #FFF; }
  .btn-success:hover, .btn-success:active, .btn-success:focus, .btn-success[href]:hover, .btn-success[href]:active, .btn-success[href]:focus, .badge-success:hover, .badge-success:active, .badge-success:focus, .badge-success[href]:hover, .badge-success[href]:active, .badge-success[href]:focus {
    background-color: #8fd246;
    color: #FFF; }

/* social */
.btn-facebook {
  background-color: #3B5998;
  color: #FFF; }
  .btn-facebook:hover, .btn-facebook:active, .btn-facebook:focus, .btn-facebook[href]:hover, .btn-facebook[href]:active, .btn-facebook[href]:focus {
    background-color: #4c70ba;
    color: #FFF; }

.btn-twitter {
  background-color: #55ACEE;
  color: #FFF; }
  .btn-twitter:hover, .btn-twitter:active, .btn-twitter:focus, .btn-twitter[href]:hover, .btn-twitter[href]:active, .btn-twitter[href]:focus {
    background-color: #83c3f3;
    color: #FFF; }

.btn-googleplus {
  background-color: #d34836;
  color: #FFF; }
  .btn-googleplus:hover, .btn-googleplus:active, .btn-googleplus:focus, .btn-googleplus[href]:hover, .btn-googleplus[href]:active, .btn-googleplus[href]:focus {
    background-color: #dc6e60;
    color: #FFF; }

.btn-diaspora {
  background-color: #313739;
  color: #FFF; }
  .btn-diaspora:hover, .btn-diaspora:active, .btn-diaspora:focus, .btn-diaspora[href]:hover, .btn-diaspora[href]:active, .btn-diaspora[href]:focus {
    background-color: #495154;
    color: #FFF; }

.btn-mastodon {
  background-color: #282c37;
  color: #FFF; }
  .btn-mastodon:hover, .btn-mastodon:active, .btn-mastodon:focus, .btn-mastodon[href]:hover, .btn-mastodon[href]:active, .btn-mastodon[href]:focus {
    background-color: #3d4455;
    color: #FFF; }

/* BACKGROUNDS */
.bg-blue {
  background-color: #4e63c9 !important;
  color: #FFF; }

.bg-violet {
  background-color: #ce4dcd !important;
  color: #FFF; }

.bg-purple {
  background-color: #7951c0 !important;
  color: #FFF; }

.bg-red {
  background-color: #e33d22 !important;
  color: #FFF; }

.bg-orange {
  background-color: #eb790a !important;
  color: #FFF; }

.bg-green {
  background-color: #75b82d !important;
  color: #FFF; }

.bg-skyblue {
  background-color: #42a0f3 !important;
  color: #FFF; }

.bg-dark {
  background-color: #6d6d6d !important;
  color: #FFF; }

.bg-light {
  background-color: #eeeeec !important;
  color: #111; }

.bg-turquoise {
  background-color: #46bd9e !important;
  color: #FFF; }

.bg-primary {
  background-color: #7951c0 !important;
  color: #FFF; }

.bg-secondary {
  background-color: #4e63c9 !important;
  color: #FFF; }

.bg-warning {
  background-color: #eb790a !important;
  color: #FFF; }

.bg-danger {
  background-color: #e33d22 !important;
  color: #FFF; }

.bg-info {
  background-color: #42a0f3 !important;
  color: #FFF; }

.bg-success {
  background-color: #75b82d !important;
  color: #FFF; }

/* alertes */
.alert-primary {
  background-color: #e4dcf2; }

.alert-secondary {
  background-color: #dbdff4; }

.alert-info {
  background-color: #d9ecfc; }

.alert-success {
  background-color: #e3f0d5; }

.alert-warning {
  background-color: #fbe4ce; }

.alert-danger {
  background-color: #f9d8d2; }

.alert-violet {
  background-color: #f5dbf5; }

.alert-purple {
  background-color: #e4dcf2; }

.alert-blue {
  background-color: #dbdff4; }

.alert-skyblue {
  background-color: #d9ecfc; }

.alert-turquoise {
  background-color: #daf1eb; }

.alert-green {
  background-color: #e3f0d5; }

.alert-orange {
  background-color: #fbe4ce; }

.alert-red {
  background-color: #f9d8d2; }

.alert-light {
  background-color: #ffffff; }

.alert-dark {
  background-color: #e1e1e1; }
