/* ------------------ COULEURS ------------------- */
a, a:hover, a:active {
  color: #4e63c9; }

::selection {
  background-color: #4e63c9 !important;
  color: #FFF; }

::-moz-selection {
  background-color: #4e63c9 !important;
  color: #FFF; }

/* CARDS */
.card-blue > .card-header {
  background-color: #4e63c9;
  color: #FFF; }

.card-violet > .card-header {
  background-color: #ce4dcd;
  color: #FFF; }

.card-purple > .card-header {
  background-color: #7951c0;
  color: #FFF; }

.card-red > .card-header {
  background-color: #e33d22;
  color: #FFF; }

.card-orange > .card-header {
  background-color: #eb790a;
  color: #FFF; }

.card-green > .card-header {
  background-color: #75b82d;
  color: #FFF; }

.card-skyblue > .card-header {
  background-color: #42a0f3;
  color: #FFF; }

.card-dark > .card-header {
  background-color: #6d6d6d;
  color: #FFF; }

.card-light > .card-header {
  background-color: #eeeeec;
  color: #111; }

.card-turquoise > .card-header {
  background-color: #46bd9e;
  color: #FFF; }

.card-primary > .card-header {
  background-color: #7951c0;
  color: #FFF; }

.card-secondary > .card-header {
  background-color: #4e63c9;
  color: #FFF; }

.card-warning > .card-header {
  background-color: #eb790a;
  color: #FFF; }

.card-danger > .card-header {
  background-color: #e33d22;
  color: #FFF; }

.card-info > .card-header {
  background-color: #42a0f3;
  color: #FFF; }

.card-success > .card-header {
  background-color: #75b82d;
  color: #FFF; }

/* BUTTONS & BADGES */
.btn-blue {
  background-color: #4e63c9;
  color: #FFF; }
  .btn-blue:hover, .btn-blue:active, .btn-blue:focus, .btn-blue:not(.disabled):not(:disabled):hover, .btn-blue:not(.disabled):not(:disabled):active, .btn-blue:not(.disabled):not(:disabled):focus {
    background-color: #7585d5;
    color: #FFF; }

.btn-violet {
  background-color: #ce4dcd;
  color: #FFF; }
  .btn-violet:hover, .btn-violet:active, .btn-violet:focus, .btn-violet:not(.disabled):not(:disabled):hover, .btn-violet:not(.disabled):not(:disabled):active, .btn-violet:not(.disabled):not(:disabled):focus {
    background-color: #d975d8;
    color: #FFF; }

.btn-purple {
  background-color: #7951c0;
  color: #FFF; }
  .btn-purple:hover, .btn-purple:active, .btn-purple:focus, .btn-purple:not(.disabled):not(:disabled):hover, .btn-purple:not(.disabled):not(:disabled):active, .btn-purple:not(.disabled):not(:disabled):focus {
    background-color: #9676ce;
    color: #FFF; }

.btn-red {
  background-color: #e33d22;
  color: #FFF; }
  .btn-red:hover, .btn-red:active, .btn-red:focus, .btn-red:not(.disabled):not(:disabled):hover, .btn-red:not(.disabled):not(:disabled):active, .btn-red:not(.disabled):not(:disabled):focus {
    background-color: #e9654f;
    color: #FFF; }

.btn-orange {
  background-color: #eb790a;
  color: #FFF; }
  .btn-orange:hover, .btn-orange:active, .btn-orange:focus, .btn-orange:not(.disabled):not(:disabled):hover, .btn-orange:not(.disabled):not(:disabled):active, .btn-orange:not(.disabled):not(:disabled):focus {
    background-color: #f69332;
    color: #FFF; }

.btn-green {
  background-color: #75b82d;
  color: #FFF; }
  .btn-green:hover, .btn-green:active, .btn-green:focus, .btn-green:not(.disabled):not(:disabled):hover, .btn-green:not(.disabled):not(:disabled):active, .btn-green:not(.disabled):not(:disabled):focus {
    background-color: #8fd246;
    color: #FFF; }

.btn-skyblue {
  background-color: #42a0f3;
  color: #FFF; }
  .btn-skyblue:hover, .btn-skyblue:active, .btn-skyblue:focus, .btn-skyblue:not(.disabled):not(:disabled):hover, .btn-skyblue:not(.disabled):not(:disabled):active, .btn-skyblue:not(.disabled):not(:disabled):focus {
    background-color: #72b8f6;
    color: #FFF; }

.btn-dark {
  background-color: #6d6d6d;
  color: #FFF; }
  .btn-dark:hover, .btn-dark:active, .btn-dark:focus, .btn-dark:not(.disabled):not(:disabled):hover, .btn-dark:not(.disabled):not(:disabled):active, .btn-dark:not(.disabled):not(:disabled):focus {
    background-color: #878787;
    color: #FFF; }

.btn-light {
  background-color: #eeeeec;
  color: #111; }
  .btn-light:hover, .btn-light:active, .btn-light:focus, .btn-light:not(.disabled):not(:disabled):hover, .btn-light:not(.disabled):not(:disabled):active, .btn-light:not(.disabled):not(:disabled):focus {
    background-color: white;
    color: #111; }

.btn-turquoise {
  background-color: #46bd9e;
  color: #FFF; }
  .btn-turquoise:hover, .btn-turquoise:active, .btn-turquoise:focus, .btn-turquoise:not(.disabled):not(:disabled):hover, .btn-turquoise:not(.disabled):not(:disabled):active, .btn-turquoise:not(.disabled):not(:disabled):focus {
    background-color: #6ccab2;
    color: #FFF; }

.btn-primary {
  background-color: #7951c0;
  color: #FFF; }
  .btn-primary:hover, .btn-primary:active, .btn-primary:focus, .btn-primary:not(.disabled):not(:disabled):hover, .btn-primary:not(.disabled):not(:disabled):active, .btn-primary:not(.disabled):not(:disabled):focus {
    background-color: #9676ce;
    color: #FFF; }

.btn-secondary {
  background-color: #4e63c9;
  color: #FFF; }
  .btn-secondary:hover, .btn-secondary:active, .btn-secondary:focus, .btn-secondary:not(.disabled):not(:disabled):hover, .btn-secondary:not(.disabled):not(:disabled):active, .btn-secondary:not(.disabled):not(:disabled):focus {
    background-color: #7585d5;
    color: #FFF; }

.btn-warning {
  background-color: #eb790a;
  color: #FFF; }
  .btn-warning:hover, .btn-warning:active, .btn-warning:focus, .btn-warning:not(.disabled):not(:disabled):hover, .btn-warning:not(.disabled):not(:disabled):active, .btn-warning:not(.disabled):not(:disabled):focus {
    background-color: #f69332;
    color: #FFF; }

.btn-danger {
  background-color: #e33d22;
  color: #FFF; }
  .btn-danger:hover, .btn-danger:active, .btn-danger:focus, .btn-danger:not(.disabled):not(:disabled):hover, .btn-danger:not(.disabled):not(:disabled):active, .btn-danger:not(.disabled):not(:disabled):focus {
    background-color: #e9654f;
    color: #FFF; }

.btn-info {
  background-color: #42a0f3;
  color: #FFF; }
  .btn-info:hover, .btn-info:active, .btn-info:focus, .btn-info:not(.disabled):not(:disabled):hover, .btn-info:not(.disabled):not(:disabled):active, .btn-info:not(.disabled):not(:disabled):focus {
    background-color: #72b8f6;
    color: #FFF; }

.btn-success {
  background-color: #75b82d;
  color: #FFF; }
  .btn-success:hover, .btn-success:active, .btn-success:focus, .btn-success:not(.disabled):not(:disabled):hover, .btn-success:not(.disabled):not(:disabled):active, .btn-success:not(.disabled):not(:disabled):focus {
    background-color: #8fd246;
    color: #FFF; }

/* social */
.btn-facebook {
  background-color: #3B5998;
  color: #FFF; }
  .btn-facebook:hover, .btn-facebook:active, .btn-facebook:focus, .btn-facebook:not(.disabled):not(:disabled):hover, .btn-facebook:not(.disabled):not(:disabled):active, .btn-facebook:not(.disabled):not(:disabled):focus {
    background-color: #4c70ba;
    color: #FFF; }

.btn-twitter {
  background-color: #55ACEE;
  color: #FFF; }
  .btn-twitter:hover, .btn-twitter:active, .btn-twitter:focus, .btn-twitter:not(.disabled):not(:disabled):hover, .btn-twitter:not(.disabled):not(:disabled):active, .btn-twitter:not(.disabled):not(:disabled):focus {
    background-color: #83c3f3;
    color: #FFF; }

.btn-googleplus {
  background-color: #d34836;
  color: #FFF; }
  .btn-googleplus:hover, .btn-googleplus:active, .btn-googleplus:focus, .btn-googleplus:not(.disabled):not(:disabled):hover, .btn-googleplus:not(.disabled):not(:disabled):active, .btn-googleplus:not(.disabled):not(:disabled):focus {
    background-color: #dc6e60;
    color: #FFF; }

.btn-diaspora {
  background-color: #313739;
  color: #FFF; }
  .btn-diaspora:hover, .btn-diaspora:active, .btn-diaspora:focus, .btn-diaspora:not(.disabled):not(:disabled):hover, .btn-diaspora:not(.disabled):not(:disabled):active, .btn-diaspora:not(.disabled):not(:disabled):focus {
    background-color: #495154;
    color: #FFF; }

.btn-mastodon {
  background-color: #282c37;
  color: #FFF; }
  .btn-mastodon:hover, .btn-mastodon:active, .btn-mastodon:focus, .btn-mastodon:not(.disabled):not(:disabled):hover, .btn-mastodon:not(.disabled):not(:disabled):active, .btn-mastodon:not(.disabled):not(:disabled):focus {
    background-color: #3d4455;
    color: #FFF; }

/* BADGES */
.badge-blue {
  background-color: #4e63c9;
  color: #FFF; }
  .badge-blue:hover, .badge-blue:active, .badge-blue:focus, a:hover > .badge-blue, a:active > .badge-blue, a:focus > .badge-blue, .badge-blue:not(.disabled):not(:disabled):hover, .badge-blue:not(.disabled):not(:disabled):active, .badge-blue:not(.disabled):not(:disabled):focus, a:hover > .badge-blue:not(.disabled):not(:disabled), a:active > .badge-blue:not(.disabled):not(:disabled), a:focus > .badge-blue:not(.disabled):not(:disabled) {
    background-color: #7585d5;
    color: #FFF; }

.badge-violet {
  background-color: #ce4dcd;
  color: #FFF; }
  .badge-violet:hover, .badge-violet:active, .badge-violet:focus, a:hover > .badge-violet, a:active > .badge-violet, a:focus > .badge-violet, .badge-violet:not(.disabled):not(:disabled):hover, .badge-violet:not(.disabled):not(:disabled):active, .badge-violet:not(.disabled):not(:disabled):focus, a:hover > .badge-violet:not(.disabled):not(:disabled), a:active > .badge-violet:not(.disabled):not(:disabled), a:focus > .badge-violet:not(.disabled):not(:disabled) {
    background-color: #d975d8;
    color: #FFF; }

.badge-purple {
  background-color: #7951c0;
  color: #FFF; }
  .badge-purple:hover, .badge-purple:active, .badge-purple:focus, a:hover > .badge-purple, a:active > .badge-purple, a:focus > .badge-purple, .badge-purple:not(.disabled):not(:disabled):hover, .badge-purple:not(.disabled):not(:disabled):active, .badge-purple:not(.disabled):not(:disabled):focus, a:hover > .badge-purple:not(.disabled):not(:disabled), a:active > .badge-purple:not(.disabled):not(:disabled), a:focus > .badge-purple:not(.disabled):not(:disabled) {
    background-color: #9676ce;
    color: #FFF; }

.badge-red {
  background-color: #e33d22;
  color: #FFF; }
  .badge-red:hover, .badge-red:active, .badge-red:focus, a:hover > .badge-red, a:active > .badge-red, a:focus > .badge-red, .badge-red:not(.disabled):not(:disabled):hover, .badge-red:not(.disabled):not(:disabled):active, .badge-red:not(.disabled):not(:disabled):focus, a:hover > .badge-red:not(.disabled):not(:disabled), a:active > .badge-red:not(.disabled):not(:disabled), a:focus > .badge-red:not(.disabled):not(:disabled) {
    background-color: #e9654f;
    color: #FFF; }

.badge-orange {
  background-color: #eb790a;
  color: #FFF; }
  .badge-orange:hover, .badge-orange:active, .badge-orange:focus, a:hover > .badge-orange, a:active > .badge-orange, a:focus > .badge-orange, .badge-orange:not(.disabled):not(:disabled):hover, .badge-orange:not(.disabled):not(:disabled):active, .badge-orange:not(.disabled):not(:disabled):focus, a:hover > .badge-orange:not(.disabled):not(:disabled), a:active > .badge-orange:not(.disabled):not(:disabled), a:focus > .badge-orange:not(.disabled):not(:disabled) {
    background-color: #f69332;
    color: #FFF; }

.badge-green {
  background-color: #75b82d;
  color: #FFF; }
  .badge-green:hover, .badge-green:active, .badge-green:focus, a:hover > .badge-green, a:active > .badge-green, a:focus > .badge-green, .badge-green:not(.disabled):not(:disabled):hover, .badge-green:not(.disabled):not(:disabled):active, .badge-green:not(.disabled):not(:disabled):focus, a:hover > .badge-green:not(.disabled):not(:disabled), a:active > .badge-green:not(.disabled):not(:disabled), a:focus > .badge-green:not(.disabled):not(:disabled) {
    background-color: #8fd246;
    color: #FFF; }

.badge-skyblue {
  background-color: #42a0f3;
  color: #FFF; }
  .badge-skyblue:hover, .badge-skyblue:active, .badge-skyblue:focus, a:hover > .badge-skyblue, a:active > .badge-skyblue, a:focus > .badge-skyblue, .badge-skyblue:not(.disabled):not(:disabled):hover, .badge-skyblue:not(.disabled):not(:disabled):active, .badge-skyblue:not(.disabled):not(:disabled):focus, a:hover > .badge-skyblue:not(.disabled):not(:disabled), a:active > .badge-skyblue:not(.disabled):not(:disabled), a:focus > .badge-skyblue:not(.disabled):not(:disabled) {
    background-color: #72b8f6;
    color: #FFF; }

.badge-dark {
  background-color: #6d6d6d;
  color: #FFF; }
  .badge-dark:hover, .badge-dark:active, .badge-dark:focus, a:hover > .badge-dark, a:active > .badge-dark, a:focus > .badge-dark, .badge-dark:not(.disabled):not(:disabled):hover, .badge-dark:not(.disabled):not(:disabled):active, .badge-dark:not(.disabled):not(:disabled):focus, a:hover > .badge-dark:not(.disabled):not(:disabled), a:active > .badge-dark:not(.disabled):not(:disabled), a:focus > .badge-dark:not(.disabled):not(:disabled) {
    background-color: #878787;
    color: #FFF; }

.badge-light {
  background-color: #eeeeec;
  color: #111; }
  .badge-light:hover, .badge-light:active, .badge-light:focus, a:hover > .badge-light, a:active > .badge-light, a:focus > .badge-light, .badge-light:not(.disabled):not(:disabled):hover, .badge-light:not(.disabled):not(:disabled):active, .badge-light:not(.disabled):not(:disabled):focus, a:hover > .badge-light:not(.disabled):not(:disabled), a:active > .badge-light:not(.disabled):not(:disabled), a:focus > .badge-light:not(.disabled):not(:disabled) {
    background-color: white;
    color: #111; }

.badge-turquoise {
  background-color: #46bd9e;
  color: #FFF; }
  .badge-turquoise:hover, .badge-turquoise:active, .badge-turquoise:focus, a:hover > .badge-turquoise, a:active > .badge-turquoise, a:focus > .badge-turquoise, .badge-turquoise:not(.disabled):not(:disabled):hover, .badge-turquoise:not(.disabled):not(:disabled):active, .badge-turquoise:not(.disabled):not(:disabled):focus, a:hover > .badge-turquoise:not(.disabled):not(:disabled), a:active > .badge-turquoise:not(.disabled):not(:disabled), a:focus > .badge-turquoise:not(.disabled):not(:disabled) {
    background-color: #6ccab2;
    color: #FFF; }

.badge-primary {
  background-color: #7951c0;
  color: #FFF; }
  .badge-primary:hover, .badge-primary:active, .badge-primary:focus, a:hover > .badge-primary, a:active > .badge-primary, a:focus > .badge-primary, .badge-primary:not(.disabled):not(:disabled):hover, .badge-primary:not(.disabled):not(:disabled):active, .badge-primary:not(.disabled):not(:disabled):focus, a:hover > .badge-primary:not(.disabled):not(:disabled), a:active > .badge-primary:not(.disabled):not(:disabled), a:focus > .badge-primary:not(.disabled):not(:disabled) {
    background-color: #9676ce;
    color: #FFF; }

.badge-secondary {
  background-color: #4e63c9;
  color: #FFF; }
  .badge-secondary:hover, .badge-secondary:active, .badge-secondary:focus, a:hover > .badge-secondary, a:active > .badge-secondary, a:focus > .badge-secondary, .badge-secondary:not(.disabled):not(:disabled):hover, .badge-secondary:not(.disabled):not(:disabled):active, .badge-secondary:not(.disabled):not(:disabled):focus, a:hover > .badge-secondary:not(.disabled):not(:disabled), a:active > .badge-secondary:not(.disabled):not(:disabled), a:focus > .badge-secondary:not(.disabled):not(:disabled) {
    background-color: #7585d5;
    color: #FFF; }

.badge-warning {
  background-color: #eb790a;
  color: #FFF; }
  .badge-warning:hover, .badge-warning:active, .badge-warning:focus, a:hover > .badge-warning, a:active > .badge-warning, a:focus > .badge-warning, .badge-warning:not(.disabled):not(:disabled):hover, .badge-warning:not(.disabled):not(:disabled):active, .badge-warning:not(.disabled):not(:disabled):focus, a:hover > .badge-warning:not(.disabled):not(:disabled), a:active > .badge-warning:not(.disabled):not(:disabled), a:focus > .badge-warning:not(.disabled):not(:disabled) {
    background-color: #f69332;
    color: #FFF; }

.badge-danger {
  background-color: #e33d22;
  color: #FFF; }
  .badge-danger:hover, .badge-danger:active, .badge-danger:focus, a:hover > .badge-danger, a:active > .badge-danger, a:focus > .badge-danger, .badge-danger:not(.disabled):not(:disabled):hover, .badge-danger:not(.disabled):not(:disabled):active, .badge-danger:not(.disabled):not(:disabled):focus, a:hover > .badge-danger:not(.disabled):not(:disabled), a:active > .badge-danger:not(.disabled):not(:disabled), a:focus > .badge-danger:not(.disabled):not(:disabled) {
    background-color: #e9654f;
    color: #FFF; }

.badge-info {
  background-color: #42a0f3;
  color: #FFF; }
  .badge-info:hover, .badge-info:active, .badge-info:focus, a:hover > .badge-info, a:active > .badge-info, a:focus > .badge-info, .badge-info:not(.disabled):not(:disabled):hover, .badge-info:not(.disabled):not(:disabled):active, .badge-info:not(.disabled):not(:disabled):focus, a:hover > .badge-info:not(.disabled):not(:disabled), a:active > .badge-info:not(.disabled):not(:disabled), a:focus > .badge-info:not(.disabled):not(:disabled) {
    background-color: #72b8f6;
    color: #FFF; }

.badge-success {
  background-color: #75b82d;
  color: #FFF; }
  .badge-success:hover, .badge-success:active, .badge-success:focus, a:hover > .badge-success, a:active > .badge-success, a:focus > .badge-success, .badge-success:not(.disabled):not(:disabled):hover, .badge-success:not(.disabled):not(:disabled):active, .badge-success:not(.disabled):not(:disabled):focus, a:hover > .badge-success:not(.disabled):not(:disabled), a:active > .badge-success:not(.disabled):not(:disabled), a:focus > .badge-success:not(.disabled):not(:disabled) {
    background-color: #8fd246;
    color: #FFF; }

/* BACKGROUNDS */
.bg-blue {
  background-color: #4e63c9 !important;
  color: #FFF; }

.bg-violet {
  background-color: #ce4dcd !important;
  color: #FFF; }

.bg-purple {
  background-color: #7951c0 !important;
  color: #FFF; }

.bg-red {
  background-color: #e33d22 !important;
  color: #FFF; }

.bg-orange {
  background-color: #eb790a !important;
  color: #FFF; }

.bg-green {
  background-color: #75b82d !important;
  color: #FFF; }

.bg-skyblue {
  background-color: #42a0f3 !important;
  color: #FFF; }

.bg-dark {
  background-color: #6d6d6d !important;
  color: #FFF; }

.bg-light {
  background-color: #eeeeec !important;
  color: #111; }

.bg-turquoise {
  background-color: #46bd9e !important;
  color: #FFF; }

.bg-primary {
  background-color: #7951c0 !important;
  color: #FFF; }

.bg-secondary {
  background-color: #4e63c9 !important;
  color: #FFF; }

.bg-warning {
  background-color: #eb790a !important;
  color: #FFF; }

.bg-danger {
  background-color: #e33d22 !important;
  color: #FFF; }

.bg-info {
  background-color: #42a0f3 !important;
  color: #FFF; }

.bg-success {
  background-color: #75b82d !important;
  color: #FFF; }

/* ALERTS */
.alert-blue {
  background-color: #d7dcf3;
  color: black; }

.alert-violet {
  background-color: #f5d9f4;
  color: black; }

.alert-purple {
  background-color: #ded4ef;
  color: black; }

.alert-red {
  background-color: #f7c8c0;
  color: black; }

.alert-orange {
  background-color: #fbd3ac;
  color: black; }

.alert-green {
  background-color: #cdebad;
  color: black; }

.alert-skyblue {
  background-color: #eaf4fe;
  color: black; }

.alert-dark {
  background-color: #c6c6c6;
  color: black; }

.alert-light {
  background-color: white;
  color: #23231f; }

.alert-turquoise {
  background-color: #caece3;
  color: black; }

.alert-primary {
  background-color: #ded4ef;
  color: black; }

.alert-secondary {
  background-color: #d7dcf3;
  color: black; }

.alert-warning {
  background-color: #fbd3ac;
  color: black; }

.alert-danger {
  background-color: #f7c8c0;
  color: black; }

.alert-info {
  background-color: #eaf4fe;
  color: black; }

.alert-success {
  background-color: #cdebad;
  color: black; }

/* TEXT */
.text-blue {
  color: #4e63c9; }

.text-violet {
  color: #ce4dcd; }

.text-purple {
  color: #7951c0; }

.text-red {
  color: #e33d22; }

.text-orange {
  color: #eb790a; }

.text-green {
  color: #75b82d; }

.text-skyblue {
  color: #42a0f3; }

.text-dark {
  color: #6d6d6d; }

.text-light {
  color: #eeeeec; }

.text-turquoise {
  color: #46bd9e; }

.text-primary {
  color: #7951c0; }

.text-secondary {
  color: #4e63c9; }

.text-warning {
  color: #eb790a; }

.text-danger {
  color: #e33d22; }

.text-info {
  color: #42a0f3; }

.text-success {
  color: #75b82d; }
