@font-face {
  font-family: 'Comic Neue Angular';
  src: url('../fonts/ComicNeue-Angular-Bold.eot');
  src: url('../fonts/ComicNeue-Angular-Bold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/ComicNeue-Angular-Bold.woff2') format('woff2'),
       url('../fonts/ComicNeue-Angular-Bold.woff') format('woff'),
       url('../fonts/ComicNeue-Angular-Bold.ttf')  format('truetype');
  font-weight: 700;
}

@font-face {
  font-family: 'Comic Neue Angular';
  src: url('../fonts/ComicNeue-Angular-Bold-Oblique.eot');
  src: url('../fonts/ComicNeue-Angular-Bold-Oblique.eot?#iefix') format('embedded-opentype'),
       url('../fonts/ComicNeue-Angular-Bold-Oblique.woff2') format('woff2'),
       url('../fonts/ComicNeue-Angular-Bold-Oblique.woff') format('woff'),
       url('../fonts/ComicNeue-Angular-Bold-Oblique.ttf')  format('truetype');
  font-weight: 700;
  font-style: oblique;
}

body {
font-size:14px;
}

#wrapper {
background: #64b5f6 url('../img/background.png') center bottom repeat-x;
}

.whitebox {
	background-color:#FFF;

	border-color:rgba(0,0,0,0.2);
	border-style:solid;
	border-width:1px;
	border-top:0px;

	-webkit-border-bottom-right-radius: 3px;
	-webkit-border-bottom-left-radius: 3px;
	-moz-border-radius-bottomright: 3px;
	-moz-border-radius-bottomleft: 3px;
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;

	padding-bottom:30px;
	padding-top:30px;
}

.menu-media-selector {
	background-image: -ms-linear-gradient(top, #696969 0%, #303030 100%);
	background-image: -moz-linear-gradient(top, #696969 0%, #303030 100%);
	background-image: -o-linear-gradient(top, #696969 0%, #303030 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #696969), color-stop(1, #303030));
	background-image: -webkit-linear-gradient(top, #696969 0%, #303030 100%);
	background-image: linear-gradient(to bottom, #696969 0%, #303030 100%);

	border-color:rgba(0,0,0,0.2);
	border-style:solid;
	border-width:1px;
	border-bottom:0px

	-webkit-border-top-left-radius: 3px;
	-webkit-border-top-right-radius: 3px;
	-moz-border-radius-topleft: 3px;
	-moz-border-radius-topright: 3px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;

}

.main-wrapper {
	box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
	border-radius: 3px;
	margin-top:10px;
	margin-bottom:10px;
}

.menu-media-selector .nav  li  a, .menu-media-selector .nav  li  a {
	color:#FFF;
    	font-weight: 600;
	text-shadow: 1px 1px 0px rgba(0,0,0,0.6);
}

.menu-media-selector .nav  li  a:hover, .menu-media-selector .nav  li  a:focus {
	background-color:rgba(0,0,0,0);
    	font-weight: 600;
	text-shadow: 1px 1px 0px rgba(0,0,0,0.6);
}

.reseaux-sociaux {
color:white;
font-size: 2em;
text-align:center;
vertical-align:middle;
letter-spacing:1em;
margin-top:55px;
}

header h1 {
	border-style:none !important;
	color:#FFF;
	font-weight:700;
	font-size:5.4em;
	font-family: 'Comic Neue Angular';
	font-style:oblique;
	text-shadow: 0px 2px 12px rgba(0, 0, 0, 0.4);
	padding-bottom:0px;
}

footer {
margin-top:40px;
}

.navbar .container .navbar-brand {
margin-left: 0px;
}

.navbar-brand img {
display:inline;
}

@media screen and (max-width:1199px) {
	.reseaux-sociaux {
		margin-top:44px
	}

	#logo {
	max-width:100%;
	height:auto;
	}

}

@media screen and (max-width:991px) {
	.reseaux-sociaux {
		margin-top:20px;
		margin-bottom:20px;
	}

	#logo {
	max-width:548px;
	height:auto;
	}
}

@media screen and (max-width:767px) {
.whitebox {
border-radius:0px !important;
box-shadow:0px 0px 0px rgba(0,0,0,0) !important;
border-style:none !important;
}

.menu-media-selector {
border-radius:0px !important;
box-shadow:0px 0px 0px rgba(0,0,0,0) !important;
border-style:none !important;
}

	.main-wrapper {
		box-shadow:0px 0px 0px rgba(0,0,0,0) !important;
	}


}

@media screen and (max-width:500px) {
	.reseaux-sociaux {
		margin-top:15px;
		margin-bottom:15px;
		font-size:1.5em;
	}

	#logo {
	min-width:100%;
	height:auto;
	}
}

.tab-content {
	padding-top:20px;
}

.nav-tabs li a {
	border: 0px solid transparent;
}

.article-meta .media-left .media-object {
	height: 64px;
	width: 64px;
	border-radius: 10px;
}

.article-meta author {
	display:block;
	font-weight:600;
}

.article-meta .media-body {
	padding-top:8px;
}

.article-meta {
	margin-bottom:15px;
	margin-left:15px;
}

.article-meta time {
	display:block;
	font-style:italic;
}

.partager {
margin:15px;
}

.panel {
margin-bottom: 20px;
background-color: #FFF;
border-radius: 3px;
border-top-left-radius: 5px;
border-top-right-radius: 5px;
box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.3), inset 0px -2px 0px rgba(0, 0, 0, 0.3);
border-color: rgba(0,0,0,0.15);
border-style: solid;
border-width: 0px;
}

.panel-noheader {
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}

.btn {
	border-style:none;
	border-width:0px;
	box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3), inset 0px -2px 0px rgba(0, 0, 0, 0.2);
	text-shadow: 0px -1px 0px rgba(0,0,0,0.3);
}

.reagir {
text-align:right;
}

.copyright {
	text-align:center;
	padding-bottom:10px;
}

.titre-commentaires {
	color:white;
	text-align:center;
	font-size:2.2em;
	text-shadow: 0px 2px 8px rgba(0, 0, 0, 0.4);
	padding-bottom:15px;

}

.no-pills {
	list-style:none;
}

.list-group-item {
	border-style:none;
	border-width:0px;
	border-radius:0px;
	background-color:transparent;
}

a.list-group-item:hover {
	border-style:none;
	border-width:0px;
	border-radius:0px;
	background-color:rgba(0,0,0,0.1);
}

.panel-heading {
	border-top-left-radius:3px;
	border-top-right-radius:3px;
	border-width:0px;
}

.btn:active {
	box-shadow: inset 0px 2px 0px rgba(0, 0, 0, 0.2);
}

.panel-primary > .panel-heading, .btn-primary {
	background-color:#3f51b5;
}

.panel-danger > .panel-heading, .btn-danger {
	background-color:#b71c1c;
}

.panel-warning > .panel-heading, .btn-warning {
	background-color:#ff6f00;
}

.panel-success > .panel-heading, .btn-success {
	background-color:#43a047;
}

.panel-info > .panel-heading, .btn-info {
	background-color:#03a9f4;
}

.panel-dark > .panel-heading, .btn-dark {
	background-color:#263238;
	color:#FFF
}

.panel-blue > .panel-heading, .btn-blue {
	background-color:#1976d2;
	color:#FFF
}

.btn-primary:hover, .btn-primary:active {
	background-color:#ab47bc;
	color:#FFF;
}

.btn-success:hover, .btn-success:active {
	background-color:#4caf50;
	color:#FFF;
}

.btn-info:hover, .btn-info:active {
	background-color:#4fc3f7;
	color:#FFF;
}

.btn-warning:hover, .btn-warning:active {
	background-color:#ffb300;
	color:#FFF;
}

.btn-danger:hover, .btn-danger:active {
	background-color:#e53935;
	color:#FFF;
}

.btn-blue:hover, .btn-blue:active {
	background-color:#1e88e5;
	color:#FFF;
}

.btn-dark:hover, .btn-dark:active {
	background-color:#455a64;
	color:#FFF;
}

.btn-blue:hover, .btn-blue:active {
	background-color:#2196f3;
	color:#FFF;
}

.navbar {
	border-radius:0px;
	box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.3);
}

.breadcrumb {
	box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.3);
}

.panel-title {
	color:#FFF;
	text-align:center;
	text-shadow: 0px -1px 0px rgba(0,0,0,0.3);
}

.center-it {
	text-align:center;
}
