/* ------------------ GLOBAL STYLE ------------------- */

#wrapper {
  background: #64b5f6 url('../img/background.png') center bottom repeat-x;
}

.no-pills {
	list-style:none;
}

.align-center {
	text-align:center;
}

.align-left {
	text-align:left;
}

.align-right {
	text-align:right;
}

/* ------------------ HEADERS ------------------- */


header h1 {
	border-style:none !important;
	color:#FFF;
	font-weight:700;
	font-size:5.4em;
	font-style:oblique;
	text-shadow: 0px 2px 12px rgba(0, 0, 0, 0.4);
	padding-bottom:0px;
}

.navbar {
	border-radius:0px;
	box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.3);
}

.navbar .container .navbar-brand {
  margin-left: 0px;
}

.navbar-brand img {
  display:inline;
}


/* ------------------ FOOTER ------------------- */

footer {
  margin-top:40px;
}

.copyright {
	text-align:center;
	padding-bottom:10px;
}


/* ------------------ PANELS ------------------- */

.panel {
  margin-bottom: 20px;
  background-color: #FFF;
  border-radius: 3px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.3), inset 0px -2px 0px rgba(0, 0, 0, 0.3);
  border-color: rgba(0,0,0,0.15);
  border-style: solid;
  border-width: 0px;
}

.panel-heading {
	border-top-left-radius:3px;
	border-top-right-radius:3px;
	border-width:0px;
}

.panel-noheader {
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}

.panel-title {
	color:#FFF;
	text-align:center;
	text-shadow: 0px -1px 0px rgba(0,0,0,0.3);
}

/* meta */

.article-meta .media-left .media-object {
	height: 64px;
	width: 64px;
	border-radius: 10px;
}

.article-meta author {
	display:block;
	font-weight:600;
}

.article-meta .media-body {
	padding-top:8px;
}

.article-meta {
	margin-bottom:15px;
	margin-left:15px;
}

.article-meta time {
	display:block;
	font-style:italic;
}

/* comments */

.titre-commentaires {
	color:white;
	text-align:center;
	font-size:2.2em;
	text-shadow: 0px 2px 8px rgba(0, 0, 0, 0.4);
	padding-bottom:15px;
}

/* lists */

.list-group-item {
	border-style:none;
	border-width:0px;
	border-radius:0px;
	background-color:transparent;
}

a.list-group-item:hover {
	border-style:none;
	border-width:0px;
	border-radius:0px;
	background-color:rgba(0,0,0,0.1);
}


/* ------------------ BUTTONS ------------------- */


.btn {
	border-style:none;
	border-width:0px;
	box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3), inset 0px -2px 0px rgba(0, 0, 0, 0.2);
	text-shadow: 0px -1px 0px rgba(0,0,0,0.3);
}
.btn:active {
	box-shadow: inset 0px 2px 0px rgba(0, 0, 0, 0.2);
}

/* ------------------ COULEURS ------------------- */

.panel-primary > .panel-heading, .btn-primary {
	background-color:#3f51b5;
}

.panel-danger > .panel-heading, .btn-danger {
	background-color:#b71c1c;
}

.panel-warning > .panel-heading, .btn-warning {
	background-color:#ff6f00;
}

.panel-success > .panel-heading, .btn-success {
	background-color:#43a047;
}

.panel-info > .panel-heading, .btn-info {
	background-color:#03a9f4;
}

.panel-dark > .panel-heading, .btn-dark {
	background-color:#263238;
	color:#FFF
}

.panel-blue > .panel-heading, .btn-blue {
	background-color:#1976d2;
	color:#FFF
}

.btn-primary:hover, .btn-primary:active {
	background-color:#ab47bc;
	color:#FFF;
}

.btn-success:hover, .btn-success:active {
	background-color:#4caf50;
	color:#FFF;
}

.btn-info:hover, .btn-info:active {
	background-color:#4fc3f7;
	color:#FFF;
}

.btn-warning:hover, .btn-warning:active {
	background-color:#ffb300;
	color:#FFF;
}

.btn-danger:hover, .btn-danger:active {
	background-color:#e53935;
	color:#FFF;
}

.btn-blue:hover, .btn-blue:active {
	background-color:#1e88e5;
	color:#FFF;
}

.btn-dark:hover, .btn-dark:active {
	background-color:#455a64;
	color:#FFF;
}

.btn-blue:hover, .btn-blue:active {
	background-color:#2196f3;
	color:#FFF;
}

/* ------------------ BREADCRUMB ------------------- */

.breadcrumb {
	box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.3);
}

/* ------------------ PARTAGE RESEAUX SOCIAUX ------------------- */

.partager {
  margin:15px;
}

.reagir {
  text-align:right;
}
